body, html {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    background-color: #404040;
    color: lightgray;
    font-size: 28px;
}

img {
    border-radius: 20px;
    margin: 15px;
    border: 1px solid #404040;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
}

.letter {
    display: inline-block;
    background-color: #121212;
    border: 2px solid #222222;
    border-radius: 15px;
    padding: 10px 20px;
    margin: 10px;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 9px #404040;
}

.letter:hover {
    background-color: #202020;
}

.letter:active {
    background-color: #202020;
    box-shadow: 0 5px #404040;
    transform: translateY(4px);
    box-shadow: 0 5px #404040;
}

#board {
    max-width: 100%;
    max-height: 10%;
    background-color: #121212;
    text-align: center;
    letter-spacing: 5px;
    font-size: 38px;
    padding: 15px;
    margin-bottom: 10px;
    /*text-transform: uppercase;*/
}

#gallows {
    min-width: 50%;
    max-width: 50%;
    max-height: 315px;
    float: left;
    background-color: #181818;
    text-align: center;
}

#alphabet {
    width: 50%;
    min-width: 485px;
    max-width: 50%;
    min-height: 315px;
    max-height: 90%;
    float: left;
    background-color: #181818;
    text-align: center;
}

#header {
    background-color: #121212;
    margin-bottom: 15px;
    padding: 5px;
    text-align: center;
}

.reset {
    text-decoration: underline;
    cursor: pointer;
}

.reset:hover {
    color: #606060;
}